*
{
    margin: 0px;
} 
.header-sticky
{
   height: 5rem;
   width: 100%;
   position: fixed;
   z-index: 99; /*it will stick header on front */
   top: 0; /*it will stick header on top */
   background-color:rgb(255, 255, 255);
   box-shadow: 0px 6px 6px rgb(50, 50, 50);
}
.header
{
    display: flex;
   justify-content:space-between;
    padding: 0.5rem 1rem;
}
#first1
{
    margin-top: -49px;
    margin-left: 12px;
    
}
#first2
{ 
    margin-right: 85px;
    padding: 24px;
    font-size:larger;
}
#anchore
{
    text-decoration-line: none;
    color:inherit;
    font-size:21px;
    /* display: inline-block; */
    position: relative;
   
}
#anchore:after {    
    /* background: none repeat scroll 0 0 transparent; */
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: rgb(255, 160, 44);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  #anchore:hover:after { 
    width: 100%; 
    left: 0; 
  }
.background
{
    height: 600px;
    width: 100%;
    background-image: url("./Images/qw.jpg");
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 2000px #201b1b7a;
    /* opacity:0.5; */
    background-attachment: fixed;
}
#search-main-part
{
    position: relative;
    text-align: center;
    top: 250px;
}
input, #search-button
{
    height: 60px;
    width: 30rem;
    font-size:x-large ;
    text-align: center;
    border: 0px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px ;
    background-color: #eff2f9;
    /* box-shadow: -5px -5px 10px 0px #161b1d3f, 5px 5px 10px 0px #161b1d3f; */
}
#search-button
{
    position: relative;
    margin-left: -5px;
    background-color: #eff2f9;
    top: -1.5px;
    height: 61.7px;
    width: 60px;
    border: 0px solid black;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px ;
    border-top-left-radius:0px;
    border-bottom-left-radius: 0px ;
    cursor: pointer;
}

.heading
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 5px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#container
{
    margin: 100px;
    display: flex;
    justify-content: space-between;
}
.container1,.container2,.container3,.container4
{
    height: 25rem;
    width: 260px;
    border-radius: 15px;
    border-top-right-radius: 120px;
    box-shadow:10px 10px 10px rgb(166, 166, 166) ;
}
.container1
{
    /* background-color: rgb(255, 105, 105); */
    background-image: linear-gradient(to right bottom ,rgb(252, 126, 68), rgb(248, 202, 165));
}
#container1
{
    perspective: 1000px;  /*3d effect */
}
#flip-card-inner
{
    transition: transform 0.9s;
    transform-style: preserve-3d;
}
#container1:hover #flip-card-inner
{
    transform: rotateY(180deg);
}
#flip-card-front,#flip-card-back
{
    position: absolute;
    backface-visibility: hidden;
}
#flip-card-back
{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    transform: rotateY(180deg);
}
.container2
{
    /* background-color: rgb(153, 106, 255); */
    background-image: linear-gradient(to right bottom,rgb(173, 154, 250),rgb(93, 52, 255));
}
.container3
{
    /* background-color: rgb(249, 102, 170); */
    background-image: linear-gradient(to right bottom ,rgb(253, 193, 201), rgb(255, 28, 89));
}
.container4
{
    /* background-color: rgb(199, 252, 101); */
    background-image: linear-gradient(to right bottom ,rgb(209, 255, 123),rgb(179, 253, 42));
}
.pic1
{
    position: relative;
    top: -100px;
    left: -42px;
    height: 14rem;
    width: 14rem;
    background-color: rgba(254, 254, 254, 0.262);
    border-radius: 700px;
}
.meal
{
    position: relative;
    top: 50px;
    left: 29px;
    height: 130px;
    filter:drop-shadow(7px 7px 7px rgb(116, 116, 116));
}
#dinner
{
    height:140px ;
}
#snack
{
    height: 120px;
    top:60px ;
    left: 35px;
}
.data1
{
    position: relative;
    bottom: 100px;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    left: 40px;
}
.B-items
{
    position: relative;
    top: 30px;
    right: 40px;
    padding: 5px;
    text-align: left;
    font-size: x-large;
}
.body-parts,.body-part-names
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgs:hover
{
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.667), 0 2px 10px 0 rgba(0, 0, 0, 0.689);
}
.body-part-names
{
    color: rgb(31, 31, 31);
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    right: 5px;
}
#arm,#chest,#abs,#leg
{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27), 0 2px 10px 0 rgba(0, 0, 0, 0.314);
}
#imgs
{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    display: inline-block;
}
#button
{
    display: flex;
    justify-content: center;
    
    margin-bottom: 100px;
}
.button-img
{
    height: 12.2rem;
    width: 12.2rem;
    border-radius: 50%;
    background-color:rgb(229, 235, 240);
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.27), 0 2px 10px 0 rgba(0, 0, 0, 0.314); */
    box-shadow: 0px 2px 30px 5px rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}
.button-img:active
{
    /* background-color: rgba(255, 162, 0, 0.858); */
 
  /* box-shadow:  0 0px 40px 5px rgba(255, 162, 0, 0.858),  0 0px 40px 5px rgba(255, 162, 0, 0.858); */
  /* box-shadow: inset 0 0px 25px 0px rgba(255, 162, 0, 0.858), inset 0 0px 25px 0px rgba(255, 162, 0, 0.858); */
  box-shadow: 0px 2px 10px rgb(255, 255, 255);
  transform: translateY(2px);
}
#button-img
{
    height: 14rem;
    width: 300.5px;
    position: relative;
    right: 5px;
    bottom: 6.5px;
}
.inside-footer
{
    height: 260px;
    background-color: rgb(77, 79, 99);
    display: flex;
    justify-content: space-around;
}
.footer1
{
    height: 260px;
    width: 370px;
    position: relative;
    left: 53px;
    top: -20px;
}
#footer2
{
    height: 260px;
    width: 260px;
    position: relative;
    left: 53px;
}
.inside-footer1
{
    position: relative;
    top: -45px;
    color: azure;
    word-spacing: 3px;
    text-align: justify;
}
.inside-footer2
{
    margin-top: 50px;
    color: azure;
} 
#footer2-content
{
    position: relative;
    top: 40px;
}
.footer-anchore
{
    text-decoration: none;
    color:inherit;
    font-size:x-large;
}
#last
{
    height: 40px;
    background-color: rgb(237, 145, 52);
    color: rgb(255, 255, 255);
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon
{
    display: none;
    cursor: pointer;
}
#body-part-names
    {
        display: none;
    }

@media only screen and (max-width:909px){
    
    #first2
    {
        width: 98%;
        position:absolute;
        top: 86px;
        left: 0;
        z-index:2;
        background: rgba(7, 7, 7, 0.76);
        
    }
    #first12
    {
        display:flex;
        justify-content:space-around;
        /* margin-top: 10px;
        margin-bottom: 10px; */
       color: aliceblue;
    }
    #menu-bar
    {
        display: none;
    }
    .menu-icon
    {
        display: block;
    }

    .background
    {
    height: 27rem;
    width: 160%;
    background-size: 650px 450px;
    }
    input
    {
    height: 50px;
    width: 14.2rem;
    }
    #search-button
    {
        height: 51.8px;
        width: 60px;
    }
    .heading
    {
        width: 160%;
    }
    #inside-heading
    {
        padding: 10px;

    }
    #heading{
        margin-left: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #body-parts,.body-parts
    {
        display: flex;
       width: 160%;
    }
    .imgs
    {        
        display: flex;
        padding: 30px;
    }
    #body-part-names
    {
        display: flex;
        justify-content: center;
        color: rgb(31, 31, 31);
        margin-top: 8px;
        font-size: larger;
        font-weight: bold;
    }
    .body-part-names
    {
        display: none;
    }
    .inside-footer,#last,#button
    {
        display: flex;
        width: 160%;
    }
}